<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <img src="../../../assets/image/cine.png" alt="CineApp" width="30" height="24">
      <a class="navbar-brand" routerLink="/home">Peliculas</a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
        </ul>
        <div class="d-flex">
          <input #txtBucar
          (keyup.enter)="buscarPeliculas( txtBucar.value )"
           class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button (click)="buscarPeliculas( txtBucar.value)" class="btn btn-outline-success" type="submit">Search</button>
        </div>
      </div>
    </div>
  </nav>
